*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'General Sans Regular';
    color: white;
}

*::-webkit-scrollbar{
    display: none;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.main{
    width: 100%;
    height: 100%;
    background-color: black;
}

.nav{
    width: 100%;
    height: 9.5%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.8%;
    font-weight: 100;
    background-color: black;
    z-index: 999;
}

.nav h1{
    font-size: 16.5px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav button{
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16.5px;
    cursor: pointer;
}

.nav button span{
    color: #A3A3A3;
}

.page1{
    width: 100%;
    height: 100%;
    position: relative;
}

.page1 .top{
    width: 68%;
    height: auto;
    top: 23%;
    padding: 0 2.8%;
    position: relative;
}

.page1 .top h1{
    font-size: 190px;
    text-transform: uppercase;
    line-height: 0.9;
    font-weight: 900;
    letter-spacing: 8px;
    color: #A3A3A3;
}

.page1 .top h1:nth-child(2){
    text-align: end;
}

.page1 .top p{
    text-align: end;
    margin-top: 1.8%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
}

.page1 .middle{
    position: relative;
    width: 100%;
    height: auto;
    text-align: end;
    top: 38.6%;
}

.page1 .middle h1{
    font-size: 15.5px;
    line-height: 2.2;
    padding: 0 2.8%;
    letter-spacing: 0.5px;
}

.page1 .bottom{
    width: 100%;
    height: auto;
    position: relative;
    top: 46%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page1 .bottom .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 70%;
    padding: 0 14.5% 0 2.8%;
}

.page1 .bottom .left h1{
    font-size: 15.5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

.page1 .bottom .left h1 i{
    font-weight: 200;
    rotate: -30deg;
}

.page1 .bottom .right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 0 2.8%;
    gap: 4px;
}

.page1 .bottom .right i{
    position: relative;
    width: 26px;
    height: 26px;
    background-color: #A3A3A3;
    color: black;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.page2{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    margin-top: 13%;
    text-transform: uppercase;
    padding: 0 11% 0 2.8%;
    color: #A3A3A3;
}

.page2 .elem{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #A3A3A3;
    padding: 4% 0;
    cursor: pointer;
}

.page2 .elem h1{
    color: #A3A3A3;
    font-size: 140px;
    transition: all ease 0.6s;
}

.page2 .elem:hover h1{
    margin-left: 3%;
    opacity: 0.2;
}

.page2 .elem p{
    color: #A3A3A3;
    transition: all ease 0.6s;
}

.page2 .elem:hover p{
    opacity: 0.2;
}

.page2 .elem:last-child{
    border-bottom: 1px solid #A3A3A3;
}

.page3{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 12%;
    background-color: black;
}

.page3 .top{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 85px;
    padding-right: 11.5%;
    top: 16%;
}

.page3 .top img{
    position: relative;
    width: 13.8%;
    margin-bottom: 3%;
}

.page3 .top .right{
    width: 27%;
    position: relative;
}

.page3 .top .right h1{
    font-size: 14px;
    font-weight: 600;
    color: #A3A3A3;
}

.page3 .top .right p{
    font-size: 18.5px;
    line-height: 1.5;
    margin-bottom: 4%;
}

.page3 .top .right button{
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 0.9% 4.2%;
    font-size: 16px;
    transition: all ease 0.6s;
    cursor: pointer;
}

.page3 .top .right button:hover{
    background-color: white;
    color: black;
}

.page3 .middle{
    position: relative;
    width: fit-content;
    padding-left: 2.8%;
    top: 38.5%;
    line-height: 1.8;
}

.page3 .middle h2{
    font-size: 14px;
    color: #A3A3A3;
}

.page3 .middle h1{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-weight: 600;
    cursor: pointer;
}

.page3 .middle h1 i{
    rotate: -30deg;
    font-weight: 200;
}

.page3 .bottom{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 58.7%;
    padding: 0 2.8%;
}

.page3 .bottom .left{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 30px;
    text-transform: uppercase;
    font-size: 8.5px;
}

.page3 .bottom .right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    text-transform: uppercase;
    font-size: 7px;
    font-weight: 200;
}